<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Products - Kafka Streams PoC</title>
</head>
<body>

<div>
    <h1>Kafka Streams PoC</h1>
    <h2 id="js-modal-topics-content-title">Products</h2>
</div>

<div th:if="${products.isEmpty()}">
    <p id="js-modal-topics-content-error">
        No products found!
    </p>
</div>

<div th:if="${!products.isEmpty()}">
    <table id="js-modal-topics-content-table" class="table table-striped table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Uuid</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Barcode</th>
                <th scope="col" class="text-right">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td class="text-monospace">
                    <strong>
                        <a th:href="@{/product/{id}(id=${product.getUuid()})}" th:text="${product.getUuid()}"></a>
                    </strong>
                </td>
                <td th:text="${product.getName()}"></td>
                <td th:text="${product.getType()}"></td>
                <td class="text-monospace" th:text="${product.getBarCode()}"></td>
                <td class="text-monospace text-right" th:text="${product.getPrice()}"></td>
            </tr>
        </tbody>
    </table>
    <p id="js-modal-topics-content-total">
        Showing products
        <strong th:text="${(page * size) + 1}"></strong>
        to
        <strong th:text="${(page * size) + products.size()}"></strong>
        of
        <strong th:text="${count}"></strong>
    </p>
</div>

<div th:if="${prev < page || next > page}">
    <p>
        Pagination
        <span th:if="${prev < page}">
            &ndash;
            <a id="js-modal-topics-content-first" th:href="@{/product(page=0,size=${size})}">First</a>
            &ndash;
            <a id="js-modal-topics-content-prev" th:href="@{/product(page=${prev},size=${size})}">Prev</a>
        </span>
        <span th:if="${next > page}">
            &ndash;
            <a id="js-modal-topics-content-next" th:href="@{/product(page=${next},size=${size})}">Next</a>
        </span>
    </p>
</div>
<p>
    Navigation
    &ndash;
    <a th:href="@{/}">Homepage</a>
</p>
</body>
</html>
