<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Product - Kafka Streams PoC</title>
</head>
<body>

<div>
    <h1>Kafka Streams PoC</h1>
    <h2 id="js-modal-content-title">Product</h2>
</div>

<div th:if="${null == product}">
    <p id="js-modal-content-error">
        The product with id
        <strong th:text="${uuid}"></strong>
        was not found!
    </p>
</div>

<div th:if="${null != product}">
    <div id="js-modal-content-body">
        <dl class="row">
            <dt class="col-sm-3">Uuid:</dt>
            <dd class="col-sm-9 text-monospace">
                <strong>
                    <a th:href="@{/product/{id}(id=${product.getUuid()})}" th:text="${product.getUuid()}"></a>
                </strong>
            </dd>

            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9" th:text="${product.getName()}"></dd>

            <dt class="col-sm-3">Type:</dt>
            <dd class="col-sm-9" th:text="${product.getType()}"></dd>

            <dt class="col-sm-3">Bar Code:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${product.getBarCode()}"></dd>

            <dt class="col-sm-3">Cost Price:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#numbers.formatDecimal(product.getPrice(), 1, 'DEFAULT', 2, 'DEFAULT')}"></dd>
        </dl>
    </div>
</div>

<p>
    Navigation
    &ndash;
    <a th:href="@{/product}">Show products</a>
    &ndash;
    <a th:href="@{/}">Homepage</a>
</p>
</body>
</html>
