<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Generate Warehouse Orders Process - Kafka Streams PoC</title>
</head>
<body>

<div>
    <h1>Kafka Streams PoC</h1>
    <h2 id="js-modal-content-title">Generate Warehouse Orders Process</h2>
</div>

<div>
    <div id="js-modal-content-body">
        <p>
            Generates the <strong>warehouse orders</strong> by aggregating the <strong>warehouse order lines</strong>.
        </p>

        <img th:src="@{/images/stream-generate-warehouse-orders.png}" alt="Generate Warehouse Orders Process" class="img-fluid">

        <pre class="alert alert-secondary" role="alert"><code>
KStream&lt;String, WarehouseOrderLine&gt; warehouseOrderLinesStream = builder.stream("t.warehouse-order-lines.generated", /* ... */);

KGroupedStream&lt;String, WarehouseOrderLine&gt; warehouseOrderLinesGroupedStream = warehouseOrderLinesStream
        .<strong>groupBy</strong>(
                (String poLineAggregationKey, WarehouseOrderLine poLine) -> {
                        SimpleDateFormat df = new SimpleDateFormat("yyyy-MM-dd");
                        Date datetime = new Date(poLine.getDate());
                        return poLine.getCountry() + "-" + df.format(datetime);
                },
                Serialized.with(/* ... */)
            );

KStream&lt;String, WarehouseOrder&gt; warehouseOrderStream = warehouseOrderLinesGroupedStream
        .<strong>aggregate</strong>(
                WarehouseOrder::new,
                (String aggregationKey, WarehouseOrderLine newLine, WarehouseOrder aggregatedWO) -> {
                        /* ... */
                        WarehouseOrder result = WarehouseOrder
                                .newBuilder(aggregatedWO)
                                .setUuid(uuid)
                                .setAggregationKey(aggregationKey)
                                .setCountry(newLine.getCountry())
                                .setDate(newLine.getDate())
                                .setLines(newLines)
                                .build();
                        return result;
                },
                Materialized.with(/* ... */)
        )
        .toStream();

warehouseOrderStream.to("t.warehouse-orders.generated",/* ... */);
        </code></pre>
    </div>
</div>
</body>
</html>
