<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Generate Warehouse Orders Process - Kafka Streams PoC</title>
</head>
<body>

<div>
    <h1>Kafka Streams PoC</h1>
    <h2 id="js-modal-topics-content-title">Generate Warehouse Orders Process</h2>
</div>

<div>
    <div id="js-modal-topics-content-body">
        <p>
            Generates the <strong>warehouse orders</strong> by aggregating the <strong>warehouse order lines</strong>.
        </p>

        <img th:src="@{/images/stream-generate-warehouse-orders.png}" alt="Generate Warehouse Orders Process" class="img-fluid">

        <pre class="alert alert-secondary" role="alert"><code>
// TBD
        </code></pre>
    </div>
</div>
</body>
</html>
