<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Purchase Order Lines - Kafka Streams PoC</title>
</head>
<body>

<div>
    <h1>Kafka Streams PoC</h1>
    <h2 id="js-modal-topics-content-title">Purchase Order Lines</h2>
</div>

<div th:if="${purchaseOrderLines.isEmpty()}">
    <p id="js-modal-topics-content-error">
        No purchase order lines found!
    </p>
</div>

<div th:if="${!purchaseOrderLines.isEmpty()}">
    <table id="js-modal-topics-content-table" class="table table-striped table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Uuid</th>
                <th scope="col">Country</th>
                <th scope="col">Date</th>
                <th scope="col">Product Uuid</th>
                <th scope="col">Product Name</th>
                <th scope="col" class="text-right">Product Price</th>
                <th scope="col" class="text-right">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="line : ${purchaseOrderLines}">
                <td class="text-monospace">
                    <strong>
                        <a th:href="@{/purchase-order/line/{id}(id=${line.getUuid()})}" th:text="${line.getUuid()}"></a>
                    </strong>
                </td>
                <td th:text="${line.getCountry()}"></td>
                <td class="text-monospace" th:text="${#calendars.format(line.getDate(), 'yyyy-MM-dd')}"></td>
                <td class="text-monospace" th:text="${line.getProductUuid()}"></td>
                <td th:text="${line.getProductName()}"></td>
                <td class="text-monospace text-right" th:text="${line.getProductPrice()}"></td>
                <td class="text-monospace text-right" th:text="${line.getQuantity()}"></td>
            </tr>
        </tbody>
    </table>
    <p id="js-modal-topics-content-total">
        Showing purchase order lines
        <span th:text="${(page * size) + 1}"></span>
        to
        <span th:text="${(page * size) + purchaseOrderLines.size()}"></span>
        of
        <span th:text="${count}"></span>
    </p>
</div>

<div th:if="${prev < page || next > page}">
    <p>
        Pagination
        <span th:if="${prev < page}">
            &ndash;
            <a id="js-modal-topics-content-first" th:href="@{/purchase-order/lines(page=0,size=${size})}">First</a>
            &ndash;
            <a id="js-modal-topics-content-prev" th:href="@{/purchase-order/lines(page=${prev},size=${size})}">Prev</a>
        </span>
        <span th:if="${next > page}">
            &ndash;
            <a d="js-modal-topics-content-next" th:href="@{/purchase-order/line(page=${next},size=${size})}">Next</a>
        </span>
    </p>
</div>

<div>
    <p>
        Navigation
        &ndash;
        <a th:href="@{/}">Homepage</a>
    </p>
</div>
</body>
</html>
