<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Purchase Order Line - Kafka Streams PoC</title>
</head>
<body>

<div>
    <h1>Kafka Streams PoC</h1>
    <h2 id="js-modal-content-title">Purchase Order Line</h2>
</div>

<div th:if="${null == purchaseOrderLine}">
    <p id="js-modal-content-error">
        The purchase order line with id
        <strong th:text="${uuid}"></strong>
        was not found!
    </p>
</div>

<div th:if="${null != purchaseOrderLine}">
    <div id="js-modal-content-body">
        <dl class="row">
            <dt class="col-sm-3">Uuid:</dt>
            <dd class="col-sm-9 text-monospace">
                <strong>
                    <a th:href="@{/purchase-order/line/{id}(id=${purchaseOrderLine.getUuid()})}" th:text="${purchaseOrderLine.getUuid()}"></a>
                </strong>
            </dd>

            <dt class="col-sm-3">Aggregation Key:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${purchaseOrderLine.getAggregationKey()}"></dd>

            <dt class="col-sm-3">Country:</dt>
            <dd class="col-sm-9" th:text="${purchaseOrderLine.getCountry()}"></dd>

            <dt class="col-sm-3">Date:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#calendars.format(purchaseOrderLine.getDate(), 'yyyy-MM-dd')}"></dd>

            <dt class="col-sm-3">Product Uuid:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${purchaseOrderLine.getProductUuid()}"></dd>

            <dt class="col-sm-3">Product Name:</dt>
            <dd class="col-sm-9" th:text="${purchaseOrderLine.getProductName()}"></dd>

            <dt class="col-sm-3">Product Type:</dt>
            <dd class="col-sm-9" th:text="${purchaseOrderLine.getProductType()}"></dd>

            <dt class="col-sm-3">Product Bar Code:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${purchaseOrderLine.getProductBarCode()}"></dd>

            <dt class="col-sm-3">Product Price:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#numbers.formatDecimal(purchaseOrderLine.getProductPrice(), 1, 'DEFAULT', 2, 'DEFAULT')}"></dd>

            <dt class="col-sm-3">Quantity:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#numbers.formatDecimal(purchaseOrderLine.getQuantity(), 1, 'DEFAULT', 0, 'DEFAULT')}"></dd>
        </dl>
    </div>
</div>

<p>
    Navigation
    &ndash;
    <a th:href="@{/purchase-order/line}">Show purchase order lines</a>
    &ndash;
    <a th:href="@{/}">Homepage</a>
</p>
</body>
</html>
