<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Purchase Order - Kafka Streams PoC</title>
</head>
<body>
<h1>Kafka Streams PoC</h1>
<h2>Purchase Order</h2>

<div th:if="${null == purchaseOrder}">
    <p>
        The purchase order with id
        <strong th:text="${uuid}"></strong>
        was not found!
    </p>
</div>

<div th:if="${null != purchaseOrder}">
    <dl>
        <dt>Uuid:</dt>
        <dd>
            <strong>
                <a th:href="@{/purchase-order/{id}(id=${purchaseOrder.getUuid()})}" th:text="${purchaseOrder.getUuid()}"></a>
            </strong>
        </dd>

        <dt>Aggregation Key:</dt>
        <dd th:text="${purchaseOrder.getAggregationKey()}"></dd>

        <dt>Country:</dt>
        <dd th:text="${purchaseOrder.getCountry()}"></dd>

        <dt>Date:</dt>
        <dd th:text="${#calendars.format(purchaseOrder.getDate(), 'yyyy-MM-dd')}"></dd>

        <dt>Total Amount:</dt>
        <dd th:text="${#numbers.formatDecimal(purchaseOrder.getTotalAmount(), 1, 'DEFAULT', 2, 'DEFAULT')}"></dd>

        <dt>Total Quantity:</dt>
        <dd th:text="${#numbers.formatDecimal(purchaseOrder.getTotalQuantity(), 1, 'DEFAULT', 0, 'DEFAULT')}"></dd>

        <dt>Lines:</dt>
        <dd th:if="${purchaseOrder.getLines().isEmpty()}">
            Purchase Order without lines!
        </dd>
        <dd th:if="${!purchaseOrder.getLines().isEmpty()}">
            <table>
                <thead>
                    <tr>
                        <th>Uuid</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="purchaseOrderLine : ${purchaseOrder.getLines()}">
                        <td>
                            <strong th:text="${purchaseOrderLine.getUuid()}"></strong>
                        </td>
                        <td th:text="${purchaseOrderLine.getProductUuid()}"></td>
                        <td th:text="${#numbers.formatDecimal(purchaseOrderLine.getPrice(), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                        <td th:text="${#numbers.formatDecimal(purchaseOrderLine.getQuantity(), 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
                    </tr>
                </tbody>
            </table>
        </dd>
    </dl>
</div>

<p>
    Navigation
    &ndash;
    <a th:href="@{/purchase-order}">Show purchase orders</a>
    &ndash;
    <a th:href="@{/}">Homepage</a>
</p>
</body>
</html>
