<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Members - Kafka Streams PoC</title>
</head>
<body>

<div>
    <h1>Kafka Streams PoC</h1>
    <h2 id="js-modal-topics-content-title">Members</h2>
</div>

<div th:if="${members.isEmpty()}">
    <p id="js-modal-topics-content-error">
        No members found!
    </p>
</div>

<div th:if="${!members.isEmpty()}">
    <table id="js-modal-topics-content-table" class="table table-striped table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Uuid</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col" class="text-right">Addresses</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${members}">
                <td class="text-monospace">
                    <strong>
                        <a th:href="@{/member/{id}(id=${member.getUuid()})}" th:text="${member.getUuid()}"></a>
                    </strong>
                </td>
                <td th:text="${member.getFirstName()}"></td>
                <td th:text="${member.getLastName()}"></td>
                <td class="text-monospace text-right" th:text="${member.getAddresses().size()}"></td>
            </tr>
        </tbody>
    </table>
    <p id="js-modal-topics-content-total">
        Showing members
        <span th:text="${(page * size) + 1}"></span>
        to
        <span th:text="${(page * size) + members.size()}"></span>
        of
        <span th:text="${count}"></span>
    </p>
</div>

<div th:if="${prev < page || next > page}">
    <p>
        Pagination
        <span th:if="${prev < page}">
            &ndash;
            <a id="js-modal-topics-content-first" th:href="@{/member(page=0,size=${size})}">First</a>
            &ndash;
            <a id="js-modal-topics-content-prev" th:href="@{/member(page=${prev},size=${size})}">Prev</a>
        </span>
        <span th:if="${next > page}">
            &ndash;
            <a id="js-modal-topics-content-next" th:href="@{/member(page=${next},size=${size})}">Next</a>
        </span>
    </p>
</div>
<p>
    Navigation
    &ndash;
    <a th:href="@{/}">Homepage</a>
</p>
</body>
</html>
