<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Homepage - Kafka Streams PoC</title>
</head>
<body>
<h1>Kafka Streams PoC</h1>
<h2>Homepage</h2>
<ul>
    <li>
        <form id="orderCountForm" action="#" th:action="@{/commercial-order/create}" method="post">
            <label for="orderCount">Create random orders (1-500):</label>
            <input type="number" id="orderCount" name="orderCount" placeholder="count" value="1" min="1" max="500">
            <button type="submit">Create</button>
        </form>
    </li>
    <br/>
    <li>
        <a th:href="@{/commercial-order}">Show commercial orders</a>
    </li>
    <li>
        <a th:href="@{/product}">Show products</a>
    </li>
    <li>
        <a th:href="@{/member}">Show members</a>
    </li>
    <li>
        Show purchase orders
    </li>
</ul>
</body>
</html>
