<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Homepage - Kafka Streams PoC</title>
</head>
<body>

<div>
    <h1>Kafka Streams PoC</h1>
    <h2>Homepage</h2>
</div>

<h3>Demo</h3>

<ul>
    <li>
        <a th:href="@{/demo/long}">Show demo page (long)</a>
    </li>
    <li>
        <a th:href="@{/demo}">Show demo page (short)</a>
    </li>
</ul>

<h3>Generators</h3>

<ul>
    <li>
        <form id="orderCountForm" action="#" method="post" th:action="@{/commercial-order/create}">
            <label for="orderCount">Create random orders (1-500):</label>
            <input type="number" id="orderCount" name="orderCount" placeholder="count" value="1" min="1" max="500">
            <button type="submit">Create</button>
        </form>
    </li>
</ul>

<h3>Data in topics</h3>

<ul>
    <li>
        <a th:href="@{/commercial-order/new-orders}">Show commercial orders</a>
        (<span th:text="${topicCount['commercial-orders']}"></span>)
    </li>
    <li>
        <a th:href="@{/product}">Show products</a>
        (<span th:text="${topicCount['products']}"></span>)
    </li>
    <li>
        <a th:href="@{/member}">Show members</a>
        (<span th:text="${topicCount['members']}"></span>)
    </li>
</ul>

<ul>
    <li>
        <a th:href="@{/commercial-order/converted}">Show converted commercial orders</a>
        (<span th:text="${topicCount['full-commercial-orders']}"></span>)
    </li>
    <li>
        <a th:href="@{/commercial-order/lines-split}">Show split commercial order lines</a>
        (<span th:text="${topicCount['commercial-order-lines']}"></span>)
    </li>
</ul>

<ul>
    <li>
        <a th:href="@{/purchase-order/line}">Show purchase order lines</a>
        (<span th:text="${topicCount['purchase-order-lines']}"></span>)
    </li>
    <li>
        <a th:href="@{/purchase-order}">Show purchase orders</a>
        (<span th:text="${topicCount['purchase-orders']}"></span>)
    </li>
</ul>

<ul>
    <li>
        <a th:href="@{/warehouse-order/line/generated}">Show generated warehouse order lines</a>
        (<span th:text="${topicCount['warehouse-order-lines']}"></span>)
    </li>
    <li>
        <a th:href="@{/warehouse-order/line/matched}">Show matched warehouse order lines</a>
        (<span th:text="${topicCount['matched-warehouse-order-lines']}"></span>)
    </li>
    <li>
        <a th:href="@{/warehouse-order/line/unmatched}">Show unmatched warehouse order lines</a>
        (<span th:text="${topicCount['unmatched-warehouse-order-lines']}"></span>)
    </li>
    <li>
        <a th:href="@{/warehouse-order/line/recovered}">Show recovered warehouse order lines</a>
        (<span th:text="${topicCount['recovered-warehouse-order-lines']}"></span>)
    </li>
    <li>
        <a th:href="@{/warehouse-order/line/failed}">Show failed warehouse order lines</a>
        (<span th:text="${topicCount['failed-warehouse-order-lines']}"></span>)
    </li>
    <li>
        <a th:href="@{/warehouse-order/line/full}">Show full warehouse order lines</a>
        (<span th:text="${topicCount['full-warehouse-order-lines']}"></span>)
    </li>
</ul>

<ul>
    <li>
        <a th:href="@{/product/legacy-id}">Show products cache</a>
        (<span th:text="${topicCount['products-cache']}"></span>)
    </li>
</ul>
<h3>Process details</h3>

<ul>
    <li>
        <a th:href="@{/process/commercial-order-converter/details}">Show Convert Commercial Orders Process</a>
    </li>
    <li>
        <a th:href="@{/process/commercial-order-lines-split/details}">Show Split Commercial Orders Lines Process</a>
    </li>
    <li>
        <a th:href="@{/process/purchase-order-line-generator/details}">Show Generate Purchase Order Lines Process</a>
    </li>
    <li>
        <a th:href="@{/process/purchase-order-generator/details}">Show Generate Purchase Order Process</a>
    </li>
    <li>
        <a th:href="@{/process/warehouse-order-line-generator/details}">Show Generate Warehouse Order Lines Process</a>
    </li>
    <li>
        <a th:href="@{/process/warehouse-order-line-matcher/details}">Show Match With Product Legacy Id Process</a>
    </li>
    <li>
        <a th:href="@{/process/warehouse-order-line-recover/details}">Show Recover Warehouse Order Lines Process</a>
    </li>
    <li>
        <a th:href="@{/process/warehouse-order-line-merger/details}">Show Merge Warehouse Order Lines Process</a>
    </li>
    <li>
        <a th:href="@{/process/warehouse-order-generator/details}">Show Generate Warehouse Orders Process</a>
    </li>
    <li>
        <a th:href="@{/process/product-legacy-id-feeder/details}">Show Product Legacy Id Feeder Process</a>
    </li>
</ul>

<h3>Process statuses</h3>

<ul>
    <li th:each="process : ${processesStatuses}">
        <form action="#" method="post" th:if="${process.value}" th:action="@{/process/{procid}/stop(procid=${process.key})}">
            <button type="submit">Stop</button>
            <span th:text="${process.key}"></span> is <strong>Running</strong>
        </form>
        <form action="#" method="post" th:if="${!process.value}" th:action="@{/process/{procid}/start(procid=${process.key})}">
            <button type="submit">Start</button>
            <span th:text="${process.key}"></span> is <strong>Stopped</strong>
        </form>
    </li>
</ul>

<ul>
    <li>
        <form action="#" method="post" th:action="@{/process/stop}">
            <button type="submit">Stop</button>
            All processes
        </form>
    </li>
    <li>
        <form action="#" method="post" th:action="@{/process//start}">
            <button type="submit">Start</button>
            All processes
        </form>
    </li>
</ul>
</body>
</html>
