<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Converted Commercial Order - Kafka Streams PoC</title>
</head>
<body>

<div>
    <h1>Kafka Streams PoC</h1>
    <h2 id="js-modal-content-title">Converted Commercial Order</h2>
</div>

<div th:if="${null == commercialOrder}">
    <p id="js-modal-content-error">
        The commercial order converted with id
        <strong th:text="${uuid}"></strong>
        was not found!
    </p>
</div>

<div th:if="${null != commercialOrder}">
    <div id="js-modal-content-body">
        <dl class="row">
            <dt class="col-sm-3">Uuid:</dt>
            <dd class="col-sm-9 text-monospace">
                <strong>
                    <a th:href="@{/commercial-order/converted/{id}(id=${commercialOrder.getUuid()})}" th:text="${commercialOrder.getUuid()}"></a>
                </strong>
            </dd>

            <dt class="col-sm-3">Date:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#calendars.format(commercialOrder.getDatetime(), 'yyyy-MM-dd HH:mm:ss')}"></dd>

            <dt class="col-sm-3">Member Uuid:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${commercialOrder.getMemberUuid()}"></dd>

            <dt class="col-sm-3">Member First Name:</dt>
            <dd class="col-sm-9" th:text="${commercialOrder.getMemberFirstName()}"></dd>

            <dt class="col-sm-3">Member Last Name:</dt>
            <dd class="col-sm-9" th:text="${commercialOrder.getMemberLastName()}"></dd>

            <dt class="col-sm-3">Shipping Country:</dt>
            <dd class="col-sm-9" th:text="${commercialOrder.getShippingCountry()}"></dd>

            <dt class="col-sm-3">Shipping City:</dt>
            <dd class="col-sm-9" th:text="${commercialOrder.getShippingCity()}"></dd>

            <dt class="col-sm-3">Shipping Zip Code:</dt>
            <dd class="col-sm-9" th:text="${commercialOrder.getShippingZipCode()}"></dd>

            <dt class="col-sm-3">Total Amount:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#numbers.formatDecimal(commercialOrder.getTotalAmount(), 1, 'DEFAULT', 2, 'DEFAULT')}"></dd>

            <dt class="col-sm-3">Total Quantity:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#numbers.formatDecimal(commercialOrder.getTotalQuantity(), 1, 'DEFAULT', 0, 'DEFAULT')}"></dd>
        </dl>
    </div>
</div>

<p>
    Navigation
    &ndash;
    <a th:href="@{/commercial-order/converted}">Show commercial orders converted</a>
    &ndash;
    <a th:href="@{/}">Homepage</a>
</p>
</body>
</html>
