<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Commercial Order Line Split - Kafka Streams PoC</title>
</head>
<body>

<div>
    <h1>Kafka Streams PoC</h1>
    <h2 id="js-modal-topics-content-title">Commercial Order Line Split</h2>
</div>

<div th:if="${null == line}">
    <p id="js-modal-topics-content-error">
        The commercial order line split with id
        <strong th:text="${uuid}"></strong>
        was not found!
    </p>
</div>

<div th:if="${null != line}">
    <div id="js-modal-topics-content-body">
        <dl class="row">
            <dt class="col-sm-3">Uuid:</dt>
            <dd class="col-sm-9">
                <strong>
                    <a th:href="@{/commercial-order/lines-split/{id}(id=${line.getUuid()})}" th:text="${line.getUuid()}"></a>
                </strong>
            </dd>

            <dt class="col-sm-3">Commercial Order Uuid:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${line.getCommercialOrderUuid()}"></dd>

            <dt class="col-sm-3">Commercial Order Date:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#calendars.format(line.getCommercialOrderDatetime(), 'yyyy-MM-dd HH:mm:ss')}"></dd>

            <dt class="col-sm-3">Shipping Country:</dt>
            <dd class="col-sm-9" th:text="${line.getShippingCountry()}"></dd>

            <dt class="col-sm-3">Member Uuid:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${line.getMemberUuid()}"></dd>

            <dt class="col-sm-3">Product Uuid:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${line.getProductUuid()}"></dd>

            <dt class="col-sm-3">Product Name:</dt>
            <dd class="col-sm-9" th:text="${line.getProductName()}"></dd>

            <dt class="col-sm-3">Product Type:</dt>
            <dd class="col-sm-9" th:text="${line.getProductType()}"></dd>

            <dt class="col-sm-3">Product Bar Code:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${line.getProductBarCode()}"></dd>

            <dt class="col-sm-3">Product Price:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#numbers.formatDecimal(line.getProductPrice(), 1, 'DEFAULT', 2, 'DEFAULT')}"></dd>

            <dt class="col-sm-3">Sell Price:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#numbers.formatDecimal(line.getOrderLinePrice(), 1, 'DEFAULT', 2, 'DEFAULT')}"></dd>

            <dt class="col-sm-3">Quantity:</dt>
            <dd class="col-sm-9 text-monospace" th:text="${#numbers.formatDecimal(line.getQuantity(), 1, 'DEFAULT', 0, 'DEFAULT')}"></dd>
        </dl>
    </div>
</div>

<p>
    Navigation
    &ndash;
    <a th:href="@{/commercial-order/lines-split}">Show commercial order liness split</a>
    &ndash;
    <a th:href="@{/}">Homepage</a>
</p>
</body>
</html>
