<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Homepage - Kafka Streams PoC</title>
</head>
<body>
<div class="container-fluid">

    <object id="js-svg-object"
            type="image/svg+xml"
            th:data="@{/images/global-architecture.svg}"
            th:data-topics-count-url="@{/api/topic/count}"
            th:data-processes-status-url="@{/api/processes/status}"
            th:data-process-toggle-url="@{/api/processes/{procid}/toggle}">
        Your browser does not support SVG!
    </object>

    <div id="js-modal-alert"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="Alert"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="js-modal-alert-title">
                        Alert
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="js-modal-alert-message" class="alert alert-primary">
                        This is an alert!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="js-modal-producer"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="Producer"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Producer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Produces commercial orders with random data for testing purposes.
                    You can create 1 to 500 commercial orders at a time.
                </div>
                <div class="modal-footer">
                    <form id="js-modal-producer-form" action="#" method="post" th:action="@{/api/commercial-order/create}" style="width: 100%">
                        <div class="form-row">
                            <label class="col-form-label" for="orderCount">Create random orders (1-500):</label>
                            <div class="col">
                                <input type="number" class="form-control" id="orderCount" name="orderCount" placeholder="count" value="1" min="1" max="500">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary float-right">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="js-modal-topics-content"
         class="modal fade bd-example-modal-xl"
         tabindex="-1"
         role="dialog"
         aria-labelledby="Topic content"
         aria-hidden="true"
         th:data-get-products-url="@{/product}"
         th:data-get-commercial-orders-url="@{/commercial-order}"
         th:data-get-members-url="@{/member}">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="js-modal-topics-content-title" class="modal-title">
                        Topic content
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="js-modal-topics-content-table" class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Second</th>
                            <th scope="col">Last</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Val#1</td>
                            <td>Val#2</td>
                            <td>Val#3</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Val#4</td>
                            <td>Val#5</td>
                            <td>Val#6</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Val#7</td>
                            <td>Val#8</td>
                            <td>Val#9</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p id="js-modal-topics-content-total">
                                    Showing items 0 to 0 of 0
                                </p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <button id="js-modal-topics-content-first" class="btn btn-secondary">First</button>
                                <button id="js-modal-topics-content-prev" class="btn btn-secondary">Prev</button>
                                <button id="js-modal-topics-content-next" class="btn btn-primary">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>

<script th:src="@{js/homepage.js}"></script>
</body>
